.table {
    //border-collapse: collapse;
    width: 100%;
    border-collapse: collapse;

    thead {
        position: sticky;
        top: 2px;
        z-index: 1;

        tr {

            th {
                color: #64748B;
                border-bottom: 1px solid #E3E8EF;
                //border-bottom: 2px solid #dee2e6;
                font-size: 15px;
                padding: 26px;
            }
        }
    }

    tbody {

        th {
            border-bottom: 1px solid #E3E8EF;
            //border-bottom: 2px solid #dee2e6;
            font-size: 15px;
        }

        .td {
            padding: 7px 0;
            border-bottom: 1px solid #E3E8EF;

            :last-child {
                border: none;
            }
        }

        .td_non {
            padding: 7px 0;
            background-color: #f9f9f9;

            :last-child {
                border: none;
            }
        }
    }

    &:not(caption) {

        > * {
            > * {
                padding-top: .5rem;
                padding-bottom: .5rem;
                background-color: transparent;
            }
        }
    }

    div {
        padding: 7px 0;
        //border-bottom: 1px solid #E3E8EF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}