.input {
    border: none;
    padding-left: 10px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    height: 38px;
    outline-color: #2684ff;
    width: 100%;
}