.choose {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    font-weight: 600;

    i {
        font-size: 18px;
        color: #2684ff;
        cursor: pointer;
    }
}