* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    //background-color: #ececec;
    background-image: url("http://localhost:3000/back.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}


.flex-wrap {
    flex-wrap: wrap;
}

.block {
    display: block;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

.gap-4 {
    gap: 40px;
}

.gap-5 {
    gap: 50px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.vh-100 {
    height: 100vh;
}

.min-vh-100 {
    min-height: 80vh;
}

.top-0 {
    top: 0;
}

.position-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

.m-l-r-1 {
    margin-left: 10px;
    margin-right: 10px;
}

.m-l-r-2 {
    margin-left: 20px;
    margin-right: 20px;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

.p-4 {
    padding: 40px;
}

.p-l-r-1 {
    padding-left: 10px;
    padding-right: 10px;
}

.p-l-r-2 {
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    font-size: 25px;
}

.m-auto {
    margin-right: auto;
    margin-left: auto;
}

.position-relative {
    position: relative;
}

.position-fixed {
    position: fixed;
}

.position-absolute {
    position: absolute;
}

.color-primary {
    color: #5488FF;
}

.color-dark {
    color: #1C1917;
}

.color-danger {
    color: #EF4444;
}

.color-light {
    color: white;
}


.bg-color-primary {
    background-color: #5488FF;
    color: white;
}

.bg-color-dark {
    background-color: #1C1917;
}

.bg-color-danger {
    background-color: #ff4545;
}

.bg-color-light {
    background-color: white;
}

.bg-color-ec {
    background-color: #ececec;
}

.border-radius {
    border-radius: 4px;
}

.pointer {
    cursor: pointer;
}

#react-select-3-input {
    color: black !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 10px;
}

//input::-webkit-calendar-picker-indicator {
//    margin-left: 10px;
//}

.overflow-auto {
    overflow: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.table {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: #f1f1f1
}

.table > :not(caption) > * > * {
    padding: .5rem .5rem;
    //background-color: transparent;
    //border-bottom-width: 1px;
}

.table {
    //border-collapse: collapse;

    thead {
        position: sticky;
        top: 2px;
        z-index: 1;

        .th {
            background-color: #ececec;
            //border-bottom: 2px solid #dee2e6;
            font-size: 15px;
        }
    }

    tbody {

        .th {
            background-color: #ececec;
            //border-bottom: 2px solid #dee2e6;
            font-size: 15px;
        }

        //td {
        //    border-bottom: 1px solid #dee2e6;
        //}
    }

    &:not(caption) {

        > * {
            > * {
                padding-top: .5rem;
                padding-bottom: .5rem;
                background-color: transparent;
            }
        }
    }
}

input:focus,
input:focus-within,
input:active,
input:-internal-autofill-selected {
    border: none;
    box-shadow: none;
    background: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s !important;
    -webkit-transition: background-color 600000s 0s, color 600000s 0s !important;
    -moz-transition: background-color 600000s 0s, color 600000s 0s !important;
    -ms-transition: background-color 600000s 0s, color 600000s 0s !important;
    -o-transition: background-color 600000s 0s, color 600000s 0s !important;
}

.css-26l3qy-menu {
    z-index: 2 !important;
}

.main_container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.head_title {
    font-size: 20px;
    text-align: center;
}

.box_container {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(40, 105, 254, 0.07);
    border-radius: 6px;
}

@media print {
    .print_container {
        margin: 50px 0 0 30px;
    }
}

@media (min-width: 1440px) {
    .main_container {
        margin-left: 240px;
    }
}

@media (max-width: 1399px) {
    .main_container {
        padding: 20px;
    }
}

